body {
    margin: 0;
    
}



.Header-Container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 20px;
    flex: 0 0 auto;
}

.Header-Container-Center {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    gap: 30px;
    width: auto;
    /*! height: 20%; */
    flex: 0 0 auto;
}

.Logo {
    border: 5px solid black;
}

.Header-Text {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 10px;
    color: #F9FAF8;
}



.Header-Logos-Links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 auto;
}

.Header-Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header-Body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    
    
    flex: 0 0 auto;
}

.Header-Info-Left-Info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}


.Header-Website-Info-Text {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
    color: #F9FAF8;
}

.Header-Website-Info-Subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.Header-Website-Info-Button {
    
}

.Header-Links {
    
}

.Header-Image-Container {
    border: 5px solid black;
}


a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 13px;
}

#Top-Btn {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 25px;
    background-color: #3882F6;
    color: white;
    border-radius: 25px;
}



.Valorant-Agent-Information-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*! height: 375px; */
    /*! padding-left: 20px; */
    /*! padding-right: 20px; */
  
    background-color: #fcfcfc;
}

.Valorant-Agent-Header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.Agent-pic {
    width: 100px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.Agents {
    width: 190px;
    height: auto;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: 	black;

    
}

.Valorant-Agent-Images-Information {
    display: flex;
    /*! gap: 10px; */
    flex: 0 1 auto;
    flex-wrap: wrap;
}

#Val-Agent-Head-Text {
    font-size: 40px;
    font-weight: extra-bold;
    color: #1F2937;
    margin: auto;
}

.Customer-Feedback-Container {
    background-color: 	#E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    /*! height: 300px; */
}

.Customer-Quotes-Author{
    display: flex;
    flex-direction: column;
    width: 1000px;
    color: #1F2937;
    font-family: 'Kalam', cursive;
    font-size: 36px;
    font-weight: light;
    font-style: italic;

    
}

figcaption {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.Bottom-Signup-Container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    
    color: white;
    
}

.Bottom-Centered-Signup-Container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 12px;
   
    color: white;
    margin: auto;
    gap: 15px;
    
    
    
}

#Bottom-Header-Text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

#Bottom-Header-Subtext {
    font-size: 15px;
    font-weight: 300;
}

.Bottom-Centered-Left {
   font-family: 'Courier New', Courier, monospace;
}

#Bot-Btn {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
    height: 40px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
}

.Footer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #1F2937;
    /*! height: 50px; */
    color: white;
    font-weight: 800;
}